body {
    margin: 0;
}

nav {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
}

nav li {
    padding-right: 1%;
    z-index: 2;
}

nav li:last-child {
    padding-right: 0;
}

nav a:hover {
    color: blue;
}

nav a:active {
    color: gold;
}

.section1{
  display: block;
  background-color: blue;
}

.section2{
  display: block;
  background-color: hotpink;
}

.section3{
  display: block;
  background-color: lime;
}

.billede1 {
    width: 100%;
    position: relative;
    top: auto;
    padding-right: 0
}

.aboutbox {
  display: block;
  background: red;
  width: 100%;
  height: 100%;
}

.aboutpic{
  display: flex;
  background: green;
  width: auto;
  height: auto;
}

h1 {
  padding-left: 10px;
}

h4 {
  padding-left: 10px;
}
