.section1{
  background-color: blue;
}

.section2{
  background-color: hotpink;
}

.section3{
  background-color: lime;
}
.billede1 {
    width: 100%;
    position: relative;
    top: auto;
    padding-right: 0
}
.aboutbox {
  display: block;
}
